@font-face {
    font-family: Quicksand;
    src: url(../fonts/Quicksand/Quicksand-Regular.ttf);
}

html {
    height: 100%;
}

body {
    background-color: lightgray;
    font-family: Quicksand;
}

* {
    margin: 0;
    padding: 0;
}

.conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100%;
}

.menu-principal {
    min-width: 400px;
    text-align: center;
}

.menu-principal h1 {
    background: #333;
    color: #fff;
    border-bottom: solid 5px #8cc1db;
    padding: 15px 0px;
    margin: 0;
}

.menu-principal nav {}

.menu-principal a {}