/* AULA 2 - SELETORES */
nav {
  width: 100%;
  background: #000;

  ul {
    list-style: none;
    padding: 20px 0;
  }

  li {
    color: red;
    margin: 0 20px;
    font: {
      family: Arial;
      size: 14px;
      weight: bold;
    }
  }

  a {
    color: red;
    
    &:hover {
      color: blue;
    }
  }
}

/* AULA 3 - VARIAVEIS */
$width: 100%;
$font-size: 1.2rem;
$background: #962acd;
$color: #fff;
$border-style: solid 1px $color;

nav {
  background: $background;
  color: $color;
  width: $width;
  font-size: $font-size;
}

/* VARIAVEIS NUMÉRICAS */
$width-rem: 3.5rem;
$width-px: 300px;

aside {
  width: $width-px;
}

/* VARIAVEIS STRINGS */
$font: "Lucida Grande";
$weight: bold;

section {
  font-family: $font;
  font-weight: $weight;
}

/* CORES */
$bg: red;
$bg-section: rgba(0, 0, 0, 0.7);
$font-color: #ffffff;

body {
  background: $bg;
  color: $font-color;
}

section {
  background: $bg-section;
}

/* VARIAVEIS - BOOLEAN E NULL */
$color-light: false;
$color-dark: true;
$color-dark: null;

/* VARIAVEIS - LISTAS */
$animals: puma, sea-slug, egret, salamander;
$animals: puma sea-slug egret salamander;
$animals: "puma", "sea-slug", "egret", "salamander";
$margin: 10px 20px 15px 20px; // lista de numbers

section {
  margin: $margin;
}

/* VARIAVEIS - MAPS (semelhante ao array) */
$social: (
  facebook: #3b5998,
  flickr: #0063db,
  github: #4183c4,
  googleplus: #dd4b39,
  instagram: #517fa4,
  linkedin: #007bb6,
  pinterest: #cb2027,
  soundcloud: #f60,
  twitter: #00aced,
  youtube: #b00
);