body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  height: 100vh;
  background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(#ffffff1a 15%, transparent 20%) 0 1px,
    radial-gradient(#ffffff1a 15%, transparent 20%) 8px 9px;
    background-color:#282828;
    background-size:16px 16px;
  font-family: "Ubuntu", sans-serif;
}


.header-heroes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}

.logo-heroes {
  margin: 1.5rem auto;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);
}

.title-heroes {
  color: #ffff;
  padding: 25px;
  margin: 0 auto;
}

.show-heroes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main-search {
  text-align:center;
  height: 50px;
}

.main-heroes {
  flex: 1;
}

.main-search-input {
  color: #ffffff;
  margin-top: 13px;
  width: 300px;
  height: 36px;
  text-align: center;
  background: none;
  border-radius: 11px;
  outline: 0;
  font-size: 14px;
}

.main-search-input::placeholder {
  color: #ffff;
}

.footer-heroes {
  background: #282828;
  padding: 20px 0;
  text-align: center;
  color: #ffff;
}

a {
  color: #d40000;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #000000;
}

h3 {
  color: #ffff;
}