nav {
  width: 100%;
  background: #000; }
  nav ul {
    list-style: none;
    padding: 20px 0; }
  nav li {
    color: red;
    margin: 0 20px;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold; }
  nav a {
    color: red; }
    nav a:hover {
      color: blue; }
